<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TakFilm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/script/JavaScript.js"></script>
    <script src="https://use.fontawesome.com/8af2b33581.js"></script>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/css-superhero")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TakFilm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*<a href="@Url.Action("TakFilm")"><i class="fa fa-film"  aria-hidden="true"></i>تک فیلم</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("ChangeTheme")"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> تغییر قالب</a>
                    <li><a href="@Url.Action("Index")"><i class="fa fa-home fa-fw" aria-hidden="true"></i> صفحه اصلی</a>
                    <li><a href="@Url.Action("Contact")"><i class="fa fa-phone-square" aria-hidden="true"></i> تماس باما</a>

                    <li><a href="@Url.Action("About")"><i class="fa fa-address-card-o" aria-hidden="true"></i> درباره ما</a>

                    <li><a href="@Url.Action("Gallery")"><i class="fa fa-picture-o" aria-hidden="true"></i>گالری</a>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="jumbotron text-center">
            <h1></h1>
            <p>
                این وبسایت موافق با قوانین جمهوری اسلامی ایران میباشد.
            </p>
            <p>مطالب درصورت درخواست کارگروه‌مصادیق‌جرایم‌اینترنتی حذف خواهند شد</p>
        </div>
        <footer class="text-center">
            <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a><br><br>
            <p>Made By Site TakFilm <a href="http://localhost:5616" data-toggle="tooltip" title="Site TakFilm">http://localhost:5616</a></p>
        </footer>
        <footer>
            <p align="center">&copy; 1396-کلیه حقوق متعلق به سایت تک فیلم میباشد. </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
