@{
    ViewBag.Title = "فرم تماس با ما";
}
@section styles{
   
<link href="~/Content/toastr.min.css" rel="stylesheet" />
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("sendEmail", "Home"))
{
    <div class="form">
        <br />
        <div class="form-group">&nbsp;
            @Html.Label("firstName", "نام : ")
            &nbsp; &nbsp;&nbsp;@Html.TextBox("firstName", null, new { @class = "form-control" })

        </div>
        <div class="form-group">&nbsp;
            @Html.Label("email", "پست الکترونیکی :")
            &nbsp; &nbsp;&nbsp;@Html.TextBox("email", null, new { @class = "form-control", type = "email" })
        </div>
        <div class="form-group">&nbsp;
            @Html.Label("subject", "موضوع : ")
            &nbsp; &nbsp; &nbsp;@Html.TextBox("subject", null, new { @class = "form-control" })
        </div>
        <div class="form-group">&nbsp;
            @Html.Label("body", "پیام : ")
            &nbsp; &nbsp;&nbsp; @Html.TextArea("body", null, new { @class = "form-control" })
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group">&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-send"></span>
                ارسال
            </button>
        </div>
    </div>
}
@section scripts{
<script src="~/Scripts/toastr.min.js"></script>
    <script>
        if (@ViewBag.status==1) {
            toastr.success("از ارسال شما متشکریم.", "تک فیلم", {
                "progressBar": true,
                "timeout": "10000",
                "positionClass":"toast-top-left"
            })
        }
        else {
            toastr.error("متاسفانه پیام شما ارسال نشد. لطفا مجددا تلاش نمایید.", "تک فیلم", {
                "progressBar": true,
                "timeout": "10000",
                "positionClass": "toast-top-right"
            })

        }
    

    </script>
    }
