@{
    ViewBag.Title = "تماس با ما";
}
@section styles{
   
<link href="~/Content/toastr.min.css" rel="stylesheet" />
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("sendEmail","Home"))
{
    <div class="form-group">
        @Html.Label("firstName", "نام : ")
        @Html.TextBox("firstName", null, new{@class = "form-control" })
  
    </div>
    <div class="form-group">
        @Html.Label("email", "پست الکترونیکی")
        @Html.TextBox("email", null, new { @class = "form-control", type = "email" })
    </div>
    <div class="form-group">
        @Html.Label("subject", "موضوع : ")
        @Html.TextBox("subject", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("body", "پیام : ")
        @Html.TextArea("body", null, new { @class = "form-control" })
    </div>
        @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>
            ارسال
        </button>
    </div>
}
@section scripts{
<script src="~/Scripts/toastr.min.js"></script>
    <script>
        if (@ViewBag.status==1) {
            toastr.success("از ارسال شما متشکریم.", "تک فیلم", {
                "progressBar": true,
                "timeout": "10000",
                "positionClass":"toast-top-left"
            })
        }
        else {
            toastr.error("متاسفانه پیام شما ارسال نشد. لطفا مجددا تلاش نمایید.", "تک فیلم", {
                "progressBar": true,
                "timeout": "10000",
                "positionClass": "toast-top-right"
            })

        }
    

    </script>
    }
